/* FONTS */
/* font-family: 'Palanquin', sans-serif;
    font-family: 'Staatliches', cursive;
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;

  --hue: 250;
  --bg-primary: hsl(var(--hue), 17%, 62%);
  --bg-heading: hsl(var(--hue), 18%, 79%);
  --bg-page: hsl(var(--hue), 100%, 97%);

  --fc-primary: hsl(0, 0%, 100%);
  --fc-secondary: hsl(var(--hue), 84%, 12%);
  --fc-tertiary: hsl(var(--hue), 17%, 35%);

  font-size: 62.5%;
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-text: clamp(2rem, 0.3rem + 2vw, 2.8rem);
  --fs-body: clamp(2rem, 0.5rem + 3vw, 2.8rem);
}

body {
  font-family: var(--ff-heading);
  
  background: var(--bg-page);
  color: var(--fc-tertiary);
}

.page {
  max-width: 38rem;
  margin: 0 auto;
}

#logo {
  animation: topdown 700ms;
  animation-duration: 3s;
}

header {
  font-family: var(--ff-heading);
  text-align: center;

  background: var(--bg-primary);

  padding: 3.2rem 0 0 0;
}

header h1 {
  background: var(--bg-heading);

  color: var(--fc-primary);
  font-size: var(--fs-heading);
  font-weight: 400;

  margin-top: 3.2rem;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.text {
  background-color: var(--bg-page);
  padding: 1rem ;
  margin-top: 3.2rem;
}

.text p {
  text-align: center;

  font-family: var(--ff-texting);
  font-weight: 400;
  font-size: var(--fs-text);
  color: var(--fc-secondary);
  line-height: 2rem;

  max-width: 30rem;
  max-height: 7.5rem;

  margin: 1.4rem auto 6.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;

  animation: downtop 700ms;
  animation-duration: 3s;

  margin-top: 6rem;
}

.card {
  position: relative;
}

.card img {
  object-fit: cover;

  border-radius: 2rem;

  transition-property: all;
  transition-duration: 350ms;
  transition-delay: 50ms;
  transition-timing-function: ease;

  filter: brightness(0.9) saturate(1.5);
}

.card img:hover {
  transform: scale(1.1);
  filter: brightness(0.6);
}

.card h2 {
  position: absolute;

  right: 1.6rem;
  top: 1.6rem;

  padding: 0 2.3rem;

  background: #FEEAFA;
  border-radius: 20px;

  text-align: center;

  font-size: var(--fs-body);
  font-weight: 400;
  letter-spacing: 0.05em;
  
  line-height: 34px;
}

.mobile {
  display: none;
}

#logo2 {
  display: none;
}

footer {
  display: none;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  body {
    width: 100%;
  }

  header {
    width: 38rem;
    padding-bottom: 100%;
  }

  header h1 {
    width: 38rem;
  }

  .text p {
    line-height: 2.5rem;
    color: var(--fc-primary);
  }

  .mobile {
    display: initial;
  }

  .page {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  main {
    margin: 6.4rem 9rem 5rem;
    display: grid;
    grid-template-areas: "A B C"
    "D B E"
    "D F E";
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }
  
  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }

  main div:nth-child(5) {
    grid-area: F;
  }


  main div:nth-child(6) {
    grid-area: E;
  }

  .text {
    background-color: var(--bg-primary);
  }

  footer {
    display: initial;
    text-align: center;
    font-family: var(--ff-footer);
    font-weight: 400;
  }

  footer p {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
  }

  footer span a {
    color: var(--fc-tertiary);
    text-decoration: none;
    font-weight: 700;
  }

  footer span a:hover {
    color: #2f2f31;
  }

  .desktop-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    display: none;
  }

  #logo1 {
    position: absolute;
  }

  #logo2 {
    display: initial;
  }

  .img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
